*
{
	margin: 0;
	padding: 0;
}
	
header
{	
	min-width: 100%;
	min-height: 400px;
	background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: right;
	opacity: .75;
		
}
h3
{
	text-align: center;
	color: gray;
	margin: 80px 0 0 0;
	font-size: 150%;
}
.p0
{
	text-align: center;
	color: gray;
	margin: 25px 0 0 0;	
	font-style: italic;

}
.p1
{
	color: gray;
	max-width: 63%;
	margin: 25px auto 0 auto;
	line-height: 28px;
}
.Home
{
	color: gray;
	font-size: 16.5px;
	padding: 8px;
	

}
.Home:hover 
{
	color: black;
	background-color: LightGray;
}
img:hover
{
	opacity: 1;

}
.search:hover
{
	background-color: red;
	color: white;
	padding:8px;
}