<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="Style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<header>
	<div  >

		<a class="Home" style="text-decoration:none;" href="#"><span style="display:inline-block;" class="Home">HOME</span></a>
		<a class="Home" href="#"> <i class="fas fa-user"></i><span style="display:inline-block;" class="Home" >ABOUT</span></a>
		<a class="Home" href="#"> <i class="fas fa-user"></i><span style="display:inline-block;" class="Home" >PORTFOLIO</span></a>
		<a class="Home" href="#"> <i class="fas fa-envelope"></i><span style="display:inline-block;" class="Home" >CONTACT</span></a>

	</div>
</header>
<section>
	<h3>ABOUT ME</h3>
	<p class="p0">I love photography</p>
	<div class="p1"><p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>	
</section>
<footer>
	
</footer>
</body>
</html>