<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="Style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<header style="position:  relative;">
	<div style="  min-width: 100%;">

		<a class="Home" style="text-decoration:none;" href="#"><span style="display:inline-block;" class="Home">HOME</span></a>
		<a class="Home" href="#"> <i class="fas fa-user"></i><span style="display:inline-block;" class="Home" >ABOUT</span></a>
		<a class="Home" href="#"> <i class="fas fa-th"></i><span style="display:inline-block;" class="Home" >PORTFOLIO</span></a>
		<a class="Home" href="#"> <i class="fas fa-envelope"></i><span style="display:inline-block;" class="Home" >CONTACT</span></a>
		<a style="float: right;padding: 8px" class="search" href="#"> <span class="search" style="padding: 8px"><i  class="fas fa-search"></i></span></a>


	</div>
	<div style="color: white;background-color: black; margin: 140px auto 0 auto;padding: 10px;width: 400px">
		<p style="text-align:center; letter-spacing: 8px;font-size: 30px">MY WEBSITE LOGO</p>
	</div>
</header>
<section>
	<h3>ABOUT ME</h3>
	<p class="p0">I love photography</p>
	<div class="p1"><p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>	

	<div style="; margin: 50px 0 40px 500px"><i style="color: gray" class="fas fa-user"></i><p style="display: inline-block;font-weight: bold;margin: 0 0 0 10px; font-size: 18px;color: gray">My Name</p></div>

	<div style="display: inline-block; float: right; max-width: 27%; color: gray;margin: 0px 295px 0 0"><p style="display: inline-block; line-height: 28px">Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>

	<div style=" margin:0 0 0 320px; float: left;">
		<img style="max-width: 430px" class="image1" src="https://www.w3schools.com/w3images/avatar_hat.jpg">
	</div>

	<div>
		<P style="float:right; font-size:19px ; margin: 40px auto 0 auto;color: gray " >Im really good at:</P>
	</div>

	<div>
			<p style="font-size:20px;  margin:120px 0 0px 280px;   color: gray;letter-spacing: 10px;float:left;"><i class="fas fa-camera"></i>Photography</p>
	</div>

			
	<div style="background-color:#EAECEE; max-width: 63%;margin: 490px auto 0 auto;">
		<div style="background-color: #2C3E50; max-width: 90%;height: 30px">
			<p style="text-align: center; padding: 6px;color: white">90%</p>
		</div>
	</div>
	
	<div>
			<p style="font-size:20px;  margin:20px 0 0px 280px;   color: gray;letter-spacing: 10px;float:left;"><i class="fas fa-laptop"></i>Web Design</p>
	</div>

			
	<div style="background-color:#EAECEE; max-width: 63%;margin: 58px auto 0 auto;">
		<div style="background-color: #2C3E50; max-width: 85%;height: 30px">
			<p style="text-align: center; padding: 6px;color: white">85%</p>
		</div>
	</div>

	<div>
			<p style="font-size:20px;  margin:20px 0 0px 280px;   color: gray;letter-spacing: 10px;float:left;"><i class="far fa-image"></i>Photoshop</p>
	</div>

			
	<div style="background-color:#EAECEE; max-width: 63%;margin: 58px auto 0 auto;">
		<div style="background-color: #2C3E50; max-width: 75%;height: 30px">
			<p style="text-align: center; padding: 6px;color: white">75%</p>
		</div>
	</div>

	<div style="word-spacing: 370px;text-align: center; height:110px; background-color:#283747; margin: 70px 0 0 0 ">

		<p class="port">14+</p>
	    <p class="port">55+</p>
		<p class="port">89+</p>
		<p class="port">150+</p>
		<div style="word-spacing: 336px;margin: 10px 0 0 0">
			<p class="port1">Partners</p>
			<p class="port1">Projects<span style="word-spacing:0"> Done</span></p>
			<p class="port1">Happy<span style="word-spacing: 0">Clients</span> </p>
			<p class="port1">Meetings</p>
		</div>
	</div>

	<div class="PORTFOLIO" style="height:400px">
		<div style=";">
			<p style="font-size: 40px; text-align: center;color: white;margin: 200px 0 0 41%;display: inline-block;">PORTFOLIO</p>
		</div>
	</div>

	<div>
		<p style="text-align:center;color:gray;font-size:20px;margin:70px 0 0 0 ">MY WORK</p>
		<p style="text-align:center;color:gray;font-size:16px;margin:20px 0 0 0 ">Here are some of my latest lorem work ipsum tipsum.</p>
		<p style="text-align:center;color:gray;font-size:16px;margin:10px 0 0 0 ">Click on the images to make them bigger</p>
	</div>
		<div style="width:70%; margin:auto;">
		<div style="max-width: 88%;margin: 50px auto 0 auto;">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p1.jpg">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p2.jpg">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p3.jpg">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p4.jpg">
		</div>

		<div style="max-width: 88%;margin: 10px auto 0 auto;">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p5.jpg">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p6.jpg">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p7.jpg">
			<img class="work" style="width:220px;height:150px" src="https://www.w3schools.com/w3images/p8.jpg">
		</div>
		</div>
		
			<input style="padding:15px;border:none;position:relative;left:700px;font-weight:bold;margin-top:64px; text-align: center;background-color:#f1f1f1  " type="button" name="" value="LOAD MORE">

		<div class="CONTACT" style="height: 400px;margin: 55px 0 0 0">
			<p style="color: white;text-align: center;font-size:45px;margin:11.8% 0% 0 42%;letter-spacing: 5px ;display: inline-block;">CONTACT</p>
		</div>
		<p style="text-align: center;margin: 80px 0 0 0;color: gray;font-size:25px ">WHERE I WORK</p>
		<p style="text-align: center;margin:20px;color: gray;">I'd love your feedback!</p>

		<div style="width:60%;margin:80px auto 140px auto;color:gray">
			<iframe style="width:260px;height:400px;" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d47530.97115388448!2d-87.66481764297862!3d41.878108280730046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago!3m2!1d41.8781136!2d-87.6297982!4m5!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL%2C+USA!3m2!1d41.8781136!2d-87.6297982!5e0!3m2!1sen!2seg!4v1538935150262" width="600" height="450" frameborder="0"  style="border:0" allowfullscreen></iframe>
			<div style="float:right;color:gray" >
				<p style="margin:20px 520px 0 0"><i style="margin: 0 10px 0 0" class="fas fa-map-marker-alt"></i>Chicago, US</p>
				<p style="margin:20px 0px 0 0"><i   style="margin: 0 10px 0 0" class="fas fa-phone"></i>Phone: +00 151515</p>
				<p style="margin:20px 0px 0 0"><i style="margin: 0 10px 0 0" class="fas fa-envelope"></i>Email: mail@mail.com</p>
				<p style="margin:40px 0px 0 0">Swing by for a cup of <i class="fas fa-coffee"></i> , or leave me a note:</p>

				<input style="margin:40px 10px 0 0;width:290px;height:40px;color:gray" type="text" name="" placeholder ="  Name">
				<input style="margin:10px 0px 0 0;width:290px;height:40px;color:gray" type="text" name="" placeholder ="  Email">
				<input style="display:block;margin:10px 0px 0 0;width:600px;height:40px;color:gray" type="text" name="" placeholder ="  Message">
				<button style="display:block;margin:15px 0px 0 424px;width:180px;height:40px;border:none;font-weight:bold;" type="submit"><i class="fas fa-paper-plane"></i> SEND MESSAGE </button>

			</div>
		</div>
</section>
<footer>
	<div class="footer1" style="height: 285px; background-color:black;">
		
			<a style="text-decoration: none;" href="">
				<div style="width:110px;height: 20px; background-color: white;margin: 60px 0 0 46%;display: inline-block;text-align: center;padding:10px">
					<i style="margin: 0 8px 0 0 ;color:black"  class="fas fa-arrow-up"></i><p style="color: black;display: inline-block;">To the top</p>
					</div>
			</a>
			
			<div style="color: white;display: block;margin:25px;  font-size:30px;text-align: center;">
			<a  href=""><i class="fab fa-facebook-square"></i></a>  
			<a  href=""><i class="fab fa-instagram"></i></a>
			<a  href=""><i class="fab fa-snapchat"></i></a>
			<a  href=""><i class="fab fa-pinterest-p"></i></a>
			<a  href=""><i class="fab fa-twitter"></i></a>
			<a  href=""><i class="fab fa-linkedin-in"></i></a>	          
			</div>
			
	</div>
</footer>
</body>
</html>